name: Release

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  release:
    uses: jetscale/booster/.github/workflows/release.yml@main
    with:
      image_name: thruster
      languages: "" # Empty triggers Base Image mode
    secrets: inherit
